dataset/test/*
dataset/train/*
output/*

# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*/output/*
*/output_eval/*

wandb/*

# library files / 추가하고 싶은 파일이 있다면, !mmdetection/custom와 같이 작성하여 추가할 수 있습니다.
mmdetection/*
!mmdetection/custom
detectron2/*