dataset/test/*
dataset/train/*
dataset/yolo/*

output/*

# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*/output/*
*/output_eval/*

# ipynb file
*.ipynb_checkpoints

# detectron2
detectron2

# mmdetection
mmdetection/*
!mmdetection/custom

# yolov5
yolov5/runs/*
yolov5/wandb/*


# output
work_dirs
wandb

# apex
apex