dataset/test/*
dataset/train/*
output/*

# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*/output/*
*/output_eval/*

# ipynb file
*.ipynb_checkpoints

# detectron2
detectron2

# mmdetection
mmdetection/*
!mmdetection/_custom_

# output
work_dirs
